
body {
    background-color: #111111;
    background-image: radial-gradient(circle at 0% 0%, #333333, #0e0e0e0e 50%, #000000 100%);
    background-attachment: fixed;
    background-repeat: no-repeat;
    color:aliceblue;
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;
}

::-webkit-scrollbar {
    display: none;
}


/* Tailwind + Custom spinner remover */
.no-spinner::-webkit-outer-spin-button,
.no-spinner::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.no-spinner {
    -moz-appearance: textfield;
}


@import "tailwindcss";

:root {
    --scroll-duration: 40s;
}

@font-face {
    font-family: "Roboto Mono";
    src: local("RobotoMono-VariableFont_wght"),
        url("./fonts/RobotoMono-VariableFont_wght.ttf") format("truetype");
    font-style: normal;
}
@font-face {
    font-family: "Roboto Mono";
    src: local("RobotoMono-Italic-VariableFont_wght"),
        url("./fonts/RobotoMono-Italic-VariableFont_wght.ttf") format("truetype");
    font-style: italic;
}

@theme {
    --default-font-family: "Roboto Mono";

    --animate-infinite-scroll: infinite-scroll var(--scroll-duration) linear infinite;
    --animate-blink: blink 2s linear infinite;
    @keyframes infinite-scroll {
        0% {
            transform: translateX(0);
        }
        100% {
            transform: translateX(-100%);
        }
    }

    @keyframes blink {
        0% {
            opacity: 1;
        }
        50% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }

    
}
.links a {
    display:flex;
    justify-content: center;
    align-items:center
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}
